extends base.pug

block scripts
    script(src='/static/index.js')

block style 
    style
      include ../static/style.css

block content 
    

    section#introSection
        div Welcome to Kittu's Dance Academy
        div.small  Eat Sleep Dance Repeat

    section#missionSection
        h2 our Mission 
        div.card
          h3 Dance Perfection
          div.card-box
            div.card-img
                img(src="/static/images/1.png", alt="")
            div.card-content
              p  This is the best dance academy of the universe
        div.card
          h3 Dance the way you like
          div.card-box
            div.card-img
                img(src="/static/images/2.png", alt="")
            div.card-content
              p  This is the best dance academy of the universe
        div.card
          h3 Expert Teaching
          div.card-box
            div.card-img
                img(src="/static/images/3.png", alt="")
            div.card-content
              p  This is the best dance academy of the universe

    section#sponsorsSection
      h2 our sponsors 
        div#sponsors
          img(src="/static/images/company-1.png", alt="sponsor image" class="spImages")
          img(src="/static/images/company-2.png", alt="sponsor image" class="spImages")
          img(src="/static/images/company-3.png", alt="sponsor image" class="spImages")
          img(src="/static/images/company-4.png", alt="sponsor image" class="spImages")